.header_section {
  background: rgba(0, 0, 0, 0.70);
  color: #fff;
  padding: 10px 70px;
}

.header_section .logo img {
  width: 108px;
  height: 38px;
}
.header_section nav ul {
}
.header_section nav ul li a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
}

.icons-mobile {
  display: none; 
}

@media (max-width: 991px) {
  .main-nav {
    display: none; 
  }
  .icons-mobile {
    display: block;
    cursor: pointer;
  }
  .header_section {
    padding: 10px 5%;
  }
  
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%; 
  max-width: 300px; 
  height: 100%;
  background-color: #f4f4f4;
  transition: 0.4s;
  z-index: 99;
  overflow-y: auto;
}

.side-nav {
  padding-top: 50px;
}

.side-nav ul {
  padding: 20px;
}

.side-nav ul li {
  list-style: none;
  margin-bottom: 15px;
}

.side-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.side-menu.open {
  left: 0;
}
@media only screen and (max-width: 1200px) {
  .header_section{
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    width: 300px; 
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  padding: 5px 10px;
}

.close-icon:hover {
  color: #000;
}
