/* .header_section {
  background: rgba(0, 0, 0, 0.70);
  color: #fff;
  padding: 10px 70px;
}

.header_section .logo img {
  width: 108px;
  height: 38px;
}
.header_section nav ul {
}
.header_section nav ul li a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
}

.icons-mobile {
  display: none; 
}

@media (max-width: 1080px) {
  .main-nav {
    display: none; 
  }
  .icons-mobile {
    display: block;
    cursor: pointer;
  }
  .header_section {
    padding: 10px 5%;
  }
  .logo{
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%; 
  max-width: 300px; 
  height: 100%;
  background-color: #f4f4f4;
  transition: 0.4s;
  z-index: 99;
  overflow-y: auto;
}

.side-nav {
  padding-top: 50px;
}

.side-nav ul {
  padding: 20px;
}

.side-nav ul li {
  list-style: none;
  margin-bottom: 15px;
}

.side-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 600;
}
.side-menu.open {
  left: 0;
}
@media only screen and (max-width: 1200px) {
  .header_section{
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    width: 300px; 
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  padding: 5px 10px;
}

.close-icon:hover {
  color: #000;
} */



.navbar-container-fluid img {
  width: 100%;
  display: block;
}

.navbar-container-fluid a {
  color: #000;
  text-decoration: none;
}

.navbar-container-fluid ul li {
  list-style-type: none;
}

.navbar-container {
  background: rgba(0, 0, 0, 0.70);
  padding: 0 1rem;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  z-index: 999999;
}


.brand-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
}

.navbar-toggler {
  display: block;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease;
  border: 2px solid #000;
  border-radius: 4px;
}

.navbar-toggler:hover {
  opacity: 0.7;
}

.navbar-collapse {
  overflow-y: scroll;
  display: none;
}

.navbar-nav>li>a {
  display: block;
  text-transform: capitalize;
  padding: 0.6rem 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  position: relative;
  transition: all 0.4s ease;

  color: #FFF;
  font-family: Montserrat;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.drop-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-nav>li>a:hover {
  opacity: 0.7;
}

.sub-menu h4 {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.sub-menu ul li {
  text-transform: capitalize;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  font-size: 0.95rem;
}

.sub-menu ul li a {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.sub-menu ul li a:hover {
  /* padding-left: 14px; */
  /* opacity: 0.9; */
}

.sub-menu {
  display: none;
  height: 380px;
}

.sub-menu-item {
  padding-left: 1.2rem;
}

/* .sub-menu-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
} */

/* .sub-menu-item:nth-child(3) h2 {
  text-transform: capitalize;
  margin: 1.5rem 0;
} */

/* 
.sub-menu-item:nth-child(3) .btn {
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: all 0.5s ease;
} */

/* .sub-menu-item:nth-child(3) .btn:hover {
  background: transparent;
  color: #000;
} */

.sub-menu-item:nth-child(4) {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 0;
}

.left_buyers_guide_banner {
  width: 100% !important;
  height: 380px;
  object-fit: cover;
  object-position: top center;
}

/* header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://source.unsplash.com/g-kNBpqMIs4/1920x1400) center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h2 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}

.header p {
  margin: 1rem auto;
  color: #fff;
  width: 60%;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.header button {
  margin: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header button:hover {
  background: #fff;
  color: #000;
}

/* Media Queries */

.navbar-container {
  display: none;
}

@media screen and (min-width: 1080px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
    padding: 0 5rem;
    position: relative;
  }

  .navbar-toggler {
    display: none;
  }

  .brand-and-icon {
    flex: 0 0 100px;
    border-bottom: none;
    padding: 0;
  }

  .navbar-collapse {
    display: block !important;
    overflow-y: hidden;
    flex: 1 0 auto;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-nav>li>a {
    border-bottom: none;
    margin: 0 0.4rem;
    padding: 0.8rem 0.6rem 0.8rem 0.6rem;
  }

  .sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    background: #FFFFFF;
    left: -6500px;
    display: grid;
    grid-template-columns: 280px 200px 3fr 330px;
    gap: 20px;
    padding: 0 0rem 0 2rem;
    transition: left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
    overflow: hidden;
  }

  .two-row-sub-menu {
    grid-template-columns: 300px 300px 1fr 0.8fr;
    gap: 20px;
  }

  .overflow-scroll {
    overflow-y: scroll !important;
    scrollbar-width: none;
    overflow-x: hidden !important;
  }

  .navbar-nav>li:hover .sub-menu {
    left: 0;
  }

  .buyer_guide:hover .chev-menu-hover>i {
    transform: rotate(180deg) !important;
  }

  .services_hover:hover .chev-menu-hover>i {
    transform: rotate(180deg) !important;
  }

  .img-header-menu-carousel {
    height: 200px !important;
    object-fit: cover;
    object-position: top;
  }


  .products_hover,
  .chev-menu-hover>i,
  .buyer_guide,
  .services_hover {
    transition: .4s ease-in;
  }

  .products_hover:hover .chev-menu-hover>i {
    transform: rotate(180deg) !important;
  }

  .header-carousel-content-menu {
    font-size: 16px;
    color: #606060;
    font-family: 'Poppins';
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding: 10px 15px 0px 15px;
  }


  #carouselExampleIndicatorss .carousel-control-next,
  .carousel-control-prev {
    /* border: 1px solid #0001a0; */
    background-color: #0001a0;
    color: #0001a0;
    bottom: 15px;
    height: 25px;
    top: initial;
    border-radius: 100px;
    width: 25px;
  }


  /* #carouselExampleIndicatorss .carousel-control-prev-icon {
    background-image: none;
    position: relative;

  }

  #carouselExampleIndicatorss .carousel-control-prev-icon::before {
    position: absolute;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-family: FontAwesome;
    color: #0001a0;
    top: 0;
    left: 0;
  } */

  #carouselExampleIndicatorss .carousel-control-next {
    right: 25px;
  }


  #carouselExampleIndicatorss .carousel-control-prev {
    left: 25px;
  }

  #carouselExampleIndicatorss .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 14px;
    height: 14px;
  }

  .header-carousel-content-menu-desc {
    color: #1F1E1E;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    padding: 0px 15px;
  }

  #carouselExampleIndicatorss {
    background-color: #F5F5F5;
  }

  .series-grid-row>div>a>img {
    width: 120px;
  }


  #hide_initial_menu,
  #hide_second_menu {
    width: 150px;
  }

  .sub-menu>div:last-child,
  .sub-menu>div:nth-child(3) {
    border-right: none;
  }

  .two-row-sub-menu>div:nth-child(2) {
    border-right: none !important;
  }

  .sub-menu>div {
    border-right: 1px solid #D7D7D7;
    padding: 30px 20px 30px 20px;
  }

  .sub-menu-item>ul>li>a {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .sub-menu-item>div>ul>li>a {
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .sub-menu-item>ol,
  ul {
    padding-left: 0rem;
  }

  .navbar-nav>li:hover .sub-menu {
    left: 0;
  }

  .navbar-nav>li>a {
    position: relative;
    /* Add position relative to make the absolute positioning work */
  }

  .navbar-nav>li>a::after {
    left: 0;
    content: "";
    position: absolute;
    bottom: -11px;
    transition: width 0.4s ease;
    /* Changed from border-bottom to width */
    width: 0;
    /* Initially set width to 0 */
    height: 3px;
    border-radius: 50px;
  }

  .navbar-nav>li>a:hover::after {
    width: 100%;
    /* Increase width on hover */
    background-color: white;
    /* Apply background color */
  }


  .sub-menu-item {
    padding-left: 0;
    position: relative;
    top: 0;

    padding: 30px 0px 30px 0px;
  }

  .sub-menu-item:nth-child(3) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

#hide_initial_menu,
#hide_second_menu,
#r_series,
#mt_series,
#maxi,
#hide_models_buyers,
#hide_videos_buyers,
#fz_series,
#street,
#fashion,
#quality_care {
  /* position: absolute; */
  display: none;
  height: 380px;
}

.opacity_low {
  position: absolute;
  top: 20px;
  width: 250px !important;
  right: 0;
}

.active-text {
  color: #0001a0;
}

.series-grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  max-width: fit-content;
}


.series-grid-row>div>p {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #303030;
}

#hoverable,
#scooter_hoverable,
#hoverable_r_series,
#hoverable_mt_series,
#hoverable_fz_series,
#hoverbale_maxi,
#hoverable_steet,
#hoverable_fashion,
#hoverable_buyers,
#videos_hoverable,
#hoverable_quality_care {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}