<footer class="footer_section_lg">
  <div class=" footer-container container">
    <div class="footer_logo">
      <div>
        <p class="para">Yamaha Motor made its initial foray into India in 1985 as a joint-venture. In August 2001, it
          became a 100% subsidiary of Yamaha Motor Co., Ltd, Japan (YMC). In 2008, Mitsui & Co. Ltd. entered into an
          agreement with YMC to become a joint-investor in India Yamaha Motor Private Limited (IYM).</h1>
      </div>

      <!-- <div>
        <img src="/theme/v4/images/header-footer/3 Qtr 1.png" alt="Yamaha-bike" class="bike" />
      </div> -->
    </div>
    <div class="rec">
      <div class="parentproduct">
        <div class="product">
          <h1> Products</h1>
          <span>Bikes</span>
          <span>Scooters</span>
        </div>
        <div class="product">
          <h1> Dealer Networks</h1>
          <span>Dealer Locator</span>
          <span>Virtual store</span>
          <span>Blue Square</span>
        </div>
        <div class="product">
          <h1>Buyer's Guide</h1>
          <span>Model Comparison</span>
          <span>Getting Started</span>
          <span>Download a Brochure</span>
        </div>
      </div>
      <div class="parentservice">
        <div class="product">
          <h1> Service</h1>
          <span>Maintenance</span>
          <span>Extended Warranty</span>
          <span>Skill Development</span>
          <span>Service Campaign</span>
          <span>Customer Education Video</span>
        </div>
        <div class="product">
          <h1> Parts</h1>
          <span>Consumable Parts</span>
          <span>Yamalube</span>
          <span>Helmet</span>
        </div>
        <div class="product">
          <h1>Events</h1>
          <span>The Call of the Blue</span>
          <span>The Call of the Blue Track Day</span>
          <span>Ride Free Overnight Tour</span>
          <span>The Call of the Blue Weekend</span>
          <span>Blue Streaks</span>
        </div>
      </div>
      <div class="parentservice">
        <div class="product">
          <h1> Media</h1>
          <span>What's New?</span>
          <span>Yamaha News</span>
          <span>Videos</span>
          <span>Press Kit</span>
          <span>Images</span>
        </div>
        <div class="product">
          <h1> About Us</h1>
          <span>Company Profile</span>
          <span>Corporate Governance</span>
          <span>Awards</span>
          <span>Founding History</span>
          <span>Manufacturing Process</span>
          <span>Racing</span>
          <span>Yamaha's Manufacturing</span>
        </div>
        <div class="product">
          <h1>Become a Yamaha
            Dealer</h1>
        </div>
      </div>
      <div class="parentservice">
        <div class="product">
          <h1> Contact Us</h1>
          <span>Products Enquiry</span>
          <span>Personal Enquiry</span>
          <span>Corporate Enquiry</span>
        </div>
        <div class="product">
          <h1> Rev your Career</h1>
          <span>About HR</span>
          <span>Why Join Yamaha</span>
          <span>Yamaha Functions</span>
          <span>Current Openings</span>
          <span>Campus Recruitment</span>
          <span>Announcement</span>
        </div>
        <div class="product">
          <h1>Stay in Touch</h1>
          <div><img src="/theme/v4/images/icons/social_media_icon/facebook-app-symbol 1.png" alt="facebook-app-symbol"
              class="socialmediaicons" />
            <svg class="socialmediaicons" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path fill="#FFF"
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
            </svg>
            <img src="/theme/v4/images/icons/social_media_icon/instagram 1.png" alt="instagram-app-symbol"
              class="socialmediaicon" /><img src="/theme/v4/images/icons/social_media_icon/youtube 1.png"
              alt="youtube-app-symbol" class="socialmediaicon" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line flex align_items_center justify-content-between">
    <div class="bike_container_lg">
      <img src="/theme/v4/images/header-footer/r15m_0003_04-YAMAHA-R15-SILVER-360-00087.webp" alt="Yamaha-bike" class="bike_lg footer_bike_img" />
    </div>
    <div></div>
    <div class="contact flex align_items_center justify_content_center">
      <div class="flex width80">
        <div class="flex flex-column justify_content_space_between">
          <span class="contacttext_heading">
            Contact Us
          </span>
          <div class="flex contacttext">
            <div class="block">
              <div class="contact_label">Toll Free</div>
              <div class="contact_value">1800 420 1600</div>
            </div>
            <div class="block">
              <div class="width60 contact_label">Send Mail</div>
              <div class="width60 contact_value">yes@yamaha-motor-india.com</div>
            </div>
          </div>
        </div>
        <div class="block width80 flex flex-column justify-content-around">
          <div class="contacttext_heading">Share Via</div>
          <div class="flex"><img src="/theme/v4/images/icons/social_media_icon/image 19.png" alt="whatsapp-app-symbol"
              class="socialmediaicon" /><span class="contact_value">Whatsapp</span></div>
        </div>
      </div>

    </div>
  </div>
  <div class="footer_copyright_container">
    <div class="footer_copyright_text">
      Copyright © India YAMAHA Motor Pvt. Ltd. All rights reserved
    </div>
    <div class="footer_privacy_text">
      <span>Privacy Policy</span>
      <span>Terms & Condition</span>
    </div>
  </div>
</footer>



