<footer class="footer_section_md">
    <div class=" footer-container_md ">
        <div class="footer_logo_md">
            <div>
                <p class="para_md">Yamaha Motor made its initial foray into India in 1985 as a joint-venture. In August
                    2001, it
                    became a 100% subsidiary of Yamaha Motor Co., Ltd, Japan (YMC). In 2008, Mitsui & Co. Ltd. entered
                    into an
                    agreement with YMC to become a joint-investor in India Yamaha Motor Private Limited (IYM).</p>
            </div>

        </div>
        <div class="rec_md">
            <div>
                <div class="parentproduct_md">
                    <div class="product_md">
                        <h1> Products</h1>
                        <span>Bikes</span>
                        <span>Scooters</span>
                    </div>
                    <div class="product_md">
                        <h1> Dealer Networks</h1>
                        <span>Dealer Locator</span>
                        <span>Virtual store</span>
                        <span>Blue Square</span>
                    </div>
                    <div class="product_md">
                        <h1>Buyer's Guide</h1>
                        <span>Model Comparison</span>
                        <span>Getting Started</span>
                        <span>Download a Brochure</span>
                    </div>
                </div>
                <div class="parentservice_md">
                    <div class="product_md">
                        <h1> Service</h1>
                        <span>Maintenance</span>
                        <span>Extended Warranty</span>
                        <span>Skill Development</span>
                        <span>Service Campaign</span>
                        <span>Customer Education Video</span>
                    </div>
                    <div class="product_md">
                        <h1> Parts</h1>
                        <span>Consumable Parts</span>
                        <span>Yamalube</span>
                        <span>Helmet</span>
                    </div>
                    <div class="product_md">
                        <h1>Events</h1>
                        <span>The Call of the Blue</span>
                        <span>The Call of the Blue Track Day</span>
                        <span>Ride Free Overnight Tour</span>
                        <span>The Call of the Blue Weekend</span>
                        <span>Blue Streaks</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="parentservice_md">
                    <div class="product_md">
                        <h1> Media</h1>
                        <span>What's New?</span>
                        <span>Yamaha News</span>
                        <span>Videos</span>
                        <span>Press Kit</span>
                        <span>Images</span>
                    </div>
                    <div class="product_md">
                        <h1> About Us</h1>
                        <span>Company Profile</span>
                        <span>Corporate Governance</span>
                        <span>Awards</span>
                        <span>Founding History</span>
                        <span>Manufacturing Process</span>
                        <span>Racing</span>
                        <span>Yamaha's Manufacturing</span>
                    </div>
                    <div class="product_md">
                        <h1>Become a Yamaha
                            Dealer</h1>
                    </div>
                </div>
                <div class="parentservice_md">
                    <div class="product_md">
                        <h1> Contact Us</h1>
                        <span>Products Enquiry</span>
                        <span>Personal Enquiry</span>
                        <span>Corporate Enquiry</span>
                    </div>
                    <div class="product_md">
                        <h1> Rev your Career</h1>
                        <span>About HR</span>
                        <span>Why Join Yamaha</span>
                        <span>Yamaha Functions</span>
                        <span>Current Openings</span>
                        <span>Campus Recruitment</span>
                        <span>Announcement</span>
                    </div>
                    <div class="product_md">
                        <h1>Stay in Touch</h1>
                        <div><img src="/theme/v4/images/header-footer/fbicon.png" alt="facebook-app-symbol"
                            class="socialmediaicons" />
                          <svg class="socialmediaicons" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path fill="#FFF"
                              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                          </svg>
                          <img src="/theme/v4/images/header-footer/insta.png" alt="instagram-app-symbol"
                            class="socialmediaicon" /><img src="/theme/v4/images/header-footer/yicon.png"
                            alt="youtube-app-symbol" class="socialmediaicon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_container_md">
        <div class="contact_md flex align_items_center justify_content_center">
            <div class="mt-2">
                <div class="flex bottom-content">
                    <div class="flex flex-column justify_content_space_between"><span class="contacttext_heading">
                            Contact Us
                        </span>
                        <div class="flex contacttext">
                            <div class="block">
                                <div class="contact_label">Toll Free</div>
                                <div class="contact_value">18004201600</div>
                            </div>
                            <div class="block">
                                <div class="width20 contact_label">Send Mail</div>
                                <div class="width20 contact_value">yamaha_support@abc.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column justify_content_space_between">
                        <div class="width20_sm contacttext_heading">Share Via</div>
                        <div class="flex width20_sm "><img src="/theme/v4/images/icons/social_media_icon/image 19.png"
                                alt="whatsapp-app-symbol" class="socialmediaicon" />
                            <div class="contact_value">Whatsapp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright_container">
            <div class="footer_copyright_text">
                Copyright © India YAMAHA Motor Pvt. Ltd. All rights reserved
            </div>
            <div class="footer_privacy_text">
                <span>Privacy Policy</span>
                <span>Terms & Condition</span>
            </div>
        </div>
    </div>
    <div class="footer_absolute_md">
        <div class="line_md">
            <img src="/theme/v4/images/header-footer/3 Qtr 1.png" alt="Yamaha-bike" class="bike_md" />
        </div>
    </div>
</footer>