<header class="header_section flex align_items_center justify_content_space_between">
    <div class="icons-mobile flex align_items_center">
        <img src="/theme/v4/images/icons/jam_menu.svg" alt="Menu Icon" class="menu-icon" id="hamburger_menu">
    </div>

    <div class="logo">
        <img src="https://www.yamaha-motor-india.com/theme/v3/image/header-footer/yamaha-motor.png" alt="Logo">
    </div>

    <div class="flex align-items-center gap35">
        <nav class="main-nav">
            <ul class="flex align_items_center gap35">
                <li><a href="/templates/v4/motorcycle/yamaha-mt03.html">Products</a></li>
                <li><a href="#">Dealers</a></li>
                <li><a href="#">Buyer's Guide</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Parts</a></li>
                <li><a href="#">Moto GP</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Contest</a></li>
            </ul>
        </nav>

        <div class="icons-desktop flex align_items_center">
            <img src="/theme/v4/images/icons/search.svg" alt="Search Icon" class="search-icon">
        </div>
        <div class="main-nav">
            <img src="/theme/v4/images/icons/jam_menu.svg" alt="menu Icon">
        </div>
    </div>
</header>
<div class="side-menu">
    <nav class="side-nav">
        <div class="close-icon">×</div>
        <ul class="flex flex-column">
            <li><a href="/templates/v4/motorcycle/yamaha-mt03.html">Products</a></li>
            <li><a href="#">Dealers</a></li>
            <li><a href="#">Buyer's Guide</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Parts</a></li>
            <li><a href="#">Moto GP</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Contest</a></li>
        </ul>
    </nav>
</div>

<script src="/theme/v4/js/header.js"></script>